.sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 33px;
  .l {
    height: 45px;
    font-size: 32px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 45px;
  }
}
